.github-intellisense {
  position: absolute;
  height: 20px;
}

.github-intellisense-definition {
  background: rgba(0, 0, 255, 0.3);
}

.github-intellisense-usage {
  background: rgba(255, 0, 0, 0.3);
}
