.blob-wrapper {
  background: transparent;
}

.intelli-github {
  position: absolute;
  height: 20px;
}

.intelli-github-definition {
  background: rgba(14,99,156,.25);
}

.intelli-github-usage {
  background: rgba(173,214,255,.3);
}
